nav{
  display: flex;
  flex-direction: column;
  flex-flow: column;
  padding: 2.5% 15% ;
  height: 100%;
  gap: 10px;
}



body{
  background-color: rgb(240, 240, 240);
}

main{
  background-color: white;
  text-align: center;
  border: 100px;
  border-radius: 25px;
  height: 80vh;
  width: 100px;
}

.bodyPanel{
  display: flex;
  padding: auto;
 height: 100vh;
}

.header-top{
padding: 15px 20px;
}

